$input-border: #aaa;
$input-box-shadow: #fff;
$input-background: rgba(0, 0, 0, .1);

.entry-box {
  margin-bottom: 20px;
  max-width: 830px;

  &__input {
    border: 1px solid $input-border;
    box-shadow: 0 0 3px $input-box-shadow inset, 0 1px 1px $input-background;
    font-size: 24px;
    height: 72px;
    padding: 10px;
    text-align: center;
    width: 92px;
  }
}
