$label-color: #000;

.label {
  color: $label-color;
  display: inline-block;
  font-family: 'Architects Daughter', cursive;
  text-align: left;
  text-transform: uppercase;
  width: 69%;

  &__text {
    position: relative;
  }
}

.tick-box {
  .label {
    background-image: url('../static/tick-blank.png');
    background-position: right;
    background-repeat: no-repeat;
    padding-bottom: 47px;
    padding-right: 92px;

    &__text {
      top: 25px;
    }

    &.checked {
      background-image: url('../static/tick-checked.png');
    }
  }
}
